@model ArticulosWeb.Models.AspNetUserRoles

@{
    ViewData["Title"] = "Create";
}

<h1>Bienvenido al Sistema</h1>

<h4>Que busca hacer hoy?</h4>

<div>
    <form style="text-align:center">
        <h4>Contratar</h4>
        <button name="button" value="Contratar" asp-action="Check"><img src="https://i.ibb.co/qBft6Bz/contract.png" width="70" height="70"/></button><br /><br />
        <h4>Trabajar</h4>
        <button name="button" value="Trabajar" asp-action="Check"><img src="https://i.ibb.co/kDm8RMF/trabajar.png" width="70" height="70"/></button>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
