@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p> Su cuenta contiene datos personales que tu nos proporcionaste, esta pagina permite desacargar o eliminar sus datos.</p>
        <p>
            <strong>Al eliminar sus datos, borrara permanentemente su cuenta, y este no podra ser recuperada</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">Descargar</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">Eliminar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}